<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic' rel='stylesheet' type='text/css'>
	<title>Thou hath been burninated.</title>

	<!-- Site-wide style sheet -->
	<link rel="stylesheet" type="text/css" href="http://people.ischool.berkeley.edu/~ryanfbaker/server/static/css/main.css" />
	
</head>
<body>
<div id="wrapper">
		<table class="content-box">
		<tr>
			<td style="padding:8px;text-align:center;margin:0 auto;">
			<span class="large">Thou hath been 404'd.</span><br><br>
			<a href="http://people.ischool.berkeley.edu/~ryanfbaker/server" class="subheader">Take ye self back to yon olde linke shortener.</a>
			<br><br>
			<img src="http://people.ischool.berkeley.edu/~ryanfbaker/server/static/images/trogdor.jpg" alt="Thou hath been 404'd">		
			<br><br>
			</td>
		</tr>			
		</table>	
</div>
</body>
</html>